

@font-face {
    font-family: 'rubikBlack';
    src: url('../fonts/Rubik-Black.ttf') format('truetype');
    /* font-weight: normal;
    font-style: normal; */
  }
@font-face {
    font-family: 'rubikBold';
    src: url('../fonts/Rubik-Bold.ttf') format('truetype');
    /* font-weight: normal;
    font-style: normal; */
  }
@font-face {
    font-family: 'rubikExtraBold';
    src: url('../fonts/Rubik-ExtraBold.ttf') format('truetype');
    /* font-weight: normal;
    font-style: normal; */
  }
@font-face {
    font-family: 'rubikLight';
    src: url('../fonts/Rubik-Light.ttf') format('truetype');
    /* font-weight: normal;
    font-style: normal; */
  }
@font-face {
    font-family: 'rubikMedium';
    src: url('../fonts/Rubik-Medium.ttf') format('truetype');
    /* font-weight: normal;
    font-style: normal; */
  }
@font-face {
    font-family: 'rubikRegular';
    src: url('../fonts/Rubik-Regular.ttf') format('truetype');
    /* font-weight: normal;
    font-style: normal; */
  }
@font-face {
    font-family: 'rubikSemiBold';
    src: url('../fonts/Rubik-SemiBold.ttf') format('truetype');
    /* font-weight: normal;
    font-style: normal; */
  }