
.footer{

    background-color: $gray;
    width: 100%;

}

.content-footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1.5rem 7rem;

    @media screen and (max-width: 1400px){
          
        padding: 1.5rem 3rem;
        
    }
    @media screen and (max-width: 1100px){
          
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        
        
    }


}

.contatos, .localizacao{
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: flex-start;



    p{
        font-size: 24px;
        color: $white;
        margin-bottom: 1.5rem;
        font-weight: 700;
        text-decoration: underline;
        font-family:  'rubikRegular' ,'Courier New', Courier, monospace;
    }

    ul {

        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: start;
        align-items: flex-start;
        color: $white;
        font-size: 14px;
        font-family:  'rubikRegular' ,'Courier New', Courier, monospace;
        li{
            span{
                
                font-size: 20px;
                font-weight: bold;
            }
            
        }
    }


}

.sociais{

    p{
        font-size: 24px;
        color: $white;
        margin-bottom: 1.5rem;
        font-weight: 700;
        text-decoration: underline;
        font-family:  'rubikRegular' ,'Courier New', Courier, monospace;
    }


    ul{
        display: flex;
        gap: 2rem;

    }
}