
main{
    min-height: 650px;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 1rem auto;
}

.banner{
    width: 100%;
    height: 550px;
    background-image: url('../assets/images/obragrande.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media screen and (max-width: 500px){
        background-position: right;

    }

}

.banner-text{
    position: absolute;
    top: 120px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 1rem;
    border-radius: 2px;

    h2{
        font-size: 50px;
        color: $white;
        font-weight:  bold;
    }

    h5{
        color: $bluelight;
        font-size: 30px;
        font-weight: bold;
        margin-top: 0.6rem;
        font-family: 'rubikBold','Courier New', Courier, monospace;
         text-shadow: 
                -1px -1px 0 white,
                1px -1px 0 white,
                -1px 1px 0 white,
                1px 1px 0 white;
        
    }

    @media screen and (max-width: 710px){
        left: 0px;
        width: 90%;
        position: relative;
        margin:  0 auto;
        border-radius: 2px;
    }

}

#whatsapp{
    position: fixed;
    top: 85%;
    right: 2%;
}

.introduction{
    padding-bottom: 2rem;
    h1{
        font-size: 33px;
        padding: 0.7rem 0 ;
        font-family: 'rubikSemiBold','Courier New', Courier, monospace;
        margin: 0 auto;
        line-height: 2.3rem;
        color: $bluelight;
        
    }

    @media screen and (max-width: 1000px){
        text-align: center;
    }
    
}


.content-introduction{
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    padding: 2rem 0 0 0;

    @media screen and (max-width: 1000px){
        flex-wrap: wrap;
        padding: 0 0.5rem 0.5rem;
    }


}



.introduction-img{
    width: 450px;
    height: 450px;
   

    img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    }

    @media screen and (max-width: 450px){
        height: 350px;
        width: 350px;
    }

    @media screen and (max-width: 350px){
      
        height: 250px;
        width: 250px;
    }

}

.introduction-text{
    width: 100%;
    height: 100%;
    align-self: self-start;
    max-width: 45%;
    font-size: 18px;
    line-height: 1.7rem;
    font-family: 'rubikRegular', 'Courier New', Courier, monospace;

    @media screen and (max-width: 1000px){
        max-width: 100%;
    }

    button{
        padding: 0.8rem 4rem;
        color: $white;
        font-size: 1.1rem;
        margin-top: 3rem;
        background-color: rgba(3, 103, 82, 0.8);
        border: none;
        cursor: pointer;
        font-weight: 700;
        border-radius: 5px;
        font-family: 'rubikRegular', 'Courier New', Courier, monospace;
    }

    p{
        padding-top: 0.5rem ;
        font-family: 'rubikRegular', 'Courier New', Courier, monospace;
        text-align: justify;
    }

    .data-build{
       padding: 0.7rem;
       background-color: rgba(45, 104, 147, 0.8);
       color: $white;
       margin-top: 1rem;

        p{
            font-family: 'rubikLight','Courier New', Courier, monospace;
            span{
                font-family: 'rubikBold','Courier New', Courier, monospace;
            }
        }

    }

}

/* second section */

.help{
    width: 100%;
    margin: 2rem 0;

    h2{
        font-size: 30px;
        font-family: 'rubikRegular', 'Courier New', Courier, monospace;
        background-color: $bluelight;
        color: $white;
        padding: 0.9rem;
        text-align: center;
        margin: 0 auto;
        max-width: 800px;
        margin-bottom: 2rem;

        @media screen and (max-width: 800px){
            width: 90%;

        }


    }

    .content-help{
        padding: 1rem 0;
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        width: 100%;

        .content-help-text{
            width: 100%;
            height: 100%;
            align-self: flex-start;

           

            .help-text-list{
                ul{
                    display: flex;
                    justify-content: space-around;
                    gap: 2rem;
                    flex-wrap: wrap;
                    
                        li{
                            background-color: rgba(246, 242, 242, 0.6);
                            width: auto;
                            width: 300px;
                            min-height: 100px;
                            padding: 1rem;
                            text-align: center;
                            border-radius: 5px;
                            gap: 0.5rem;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                            font-family: 'rubikSemiBold' ,'Courier New', Courier, monospace;
                            
                            @media screen and (max-width: 300px){
                                width: 90%;
                    
                            }


                            a{
                                width: 100%;
                                margin-top: 1rem;
                                div{
                                    width: auto;
                                    width: 100%;
                                    display: flex;
                                    justify-content: center;

                                    span{
                                        background-color: rgba(3, 103, 82, 0.8);
                                        padding: 0.2rem 0.5rem;
                                        color: $white;
                                        border-radius: 2px;
                                    }


                                }

                            }

                        
                        }
                    
                        

                }
            }

        }
    }


}

/*  third section - service */

.content-service{
    h2{
        font-size: 30px;
        text-align: center;
        padding: 0.7rem 0;
        font-family: 'rubikRegular','Courier New', Courier, monospace;
        background-color: $bluelight;
        color: $white;
        max-width: 800px;
        margin: 0 auto;

        @media screen and (max-width: 800px){
            width: 90%;
        }
    }


    .flex-content-service{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        flex-wrap: wrap;
        gap: 4rem;

    }

    .card-service{

        width: 350px;
        height: 390px;
        box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 5px;

        @media screen and (max-width: 350px){
            width: 90%;
            height: auto;
        }

        .card-service-img{
            img{
                width: 348px;
                height: 200px;
            }

            @media screen and (max-width: 350px){
                
                img{
                    width: 90%;
                    height: auto;
                }
    
            }

        }

        .card-service-content{
            width: 100%;
            height: 100%;
            padding: 1rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 1.5rem;

            h3{
                font-size: 20px;
                text-align: center;
                font-family: 'rubikMedium','Courier New', Courier, monospace;  
            }
    
            p{
                font-size: 16px;
                font-family: 'rubikRegular','Courier New', Courier, monospace;
                justify-self: start;
            }
        }
        
        .card-link{ 

            display: flex;
            justify-content: flex-end;
            padding: 0.7rem;
            
            a{
                color: $bluestrong;
                text-decoration: underline;
                font-size: 18px;
                font-weight: 500;
            }

        }



    }

}

.content-questions{
    h3{
            font-size: 30px;
            text-align: center;
            padding: 0.7rem 0;
            font-family: 'rubikRegular','Courier New', Courier, monospace;
            background-color: $bluelight;
            color: $white;
            max-width: 800px;
            margin: 0 auto;

            @media screen and (max-width: 800px){
                width: 90%;
    
            }
    }

    .topic-invisible{
        display: none;
    }

    .questions{
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        padding: 2rem 0 1rem 0;

        @media screen and (max-width: 1000px){
          
            flex-direction: column-reverse;
            width: 100%;
            align-items: center;

        }



    }


    .questions-img{
        width: 450px;
        height: 450px;
        align-self: flex-start;
    
        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
        }

        @media screen and (max-width: 1000px){
          
            align-self: center;
            
        }
        @media screen and (max-width: 450px){
          
            height: 350px;
            width: 350px;
        }
        @media screen and (max-width: 350px){
          
            height: 250px;
            width: 250px;
        }


    }

    .answers{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 45%;
        align-self: flex-start;

        @media screen and (max-width: 1000px){
            align-self: center;
            width: 90%;
            
        }

        .topic-answers{
            background-color: rgba(45, 104, 147, 0.8);
            color: $white;
            padding: 1rem;
            font-family: 'rubikRegular' ,'Courier New', Courier, monospace;
            display: flex;
            gap: 1rem;
            align-items: center;
            border-radius: 2px;
            justify-content: space-between;
            cursor: pointer;
        }
        .answer-topic{
                padding: 1rem;
                background-color: rgba(45, 104, 147, 0.9);
                margin-top: 0.3rem;
                border-radius: 2px;
                color: $white;
                font-family: 'rubikMedium','Courier New', Courier, monospace;
            }

        

    }

}

