
.topic-without-answers{

    background-color: rgba(45, 104, 147, 0.8);
    color: $white;
    padding: 1rem;
    font-family: 'rubikRegular' ,'Courier New', Courier, monospace;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 2px;
    justify-content: start;
    gap: 15px;
    
}
